body{
    width: 90%;
    margin: 0 auto;
}

#filmstrip-viewport{
    margin: 0 auto;
    overflow-x: scroll;
}

#filmstrip-wrapper img{
    margin: 0 0 0 0;
    padding: 0 0 0 0;
    float: left;
}


/*From H5BP if you are using that you don't need this*/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table; 
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.clearfix {
    *zoom: 1;
}